doctype html
head
  meta(charset='UTF-8')
  title Upload Image - Ikloud
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel='stylesheet', href='./stylesheets/uploadstyle.css')
  link(rel='stylesheet', href='./stylesheets/style.css')
header
  p.heading
    a(href='http://localhost:8000/') Home &nbsp;&nbsp;  
    a(href='http://localhost:8000/upload') Upload &nbsp;&nbsp;
    a(href='http://localhost:8000/auth') Auth &nbsp;
#container
  .panel.panel-primary
    .panel-body
      span.glyphicon.glyphicon-cloud-upload
      h1
        | Upload your Image!
        span#result
        br
        button.btn.btn-primary.upload-btn Upload!
        input#upload-file(name='image', type='file')
// partial
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
script(src='./javascripts/upload.js')
p
